<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.errand.mapper.EvaluationMapper">

    <resultMap id="EvaluationResultMap" type="com.errand.entity.Evaluation">
        <id     property="evaluationId"     column="evaluation_id"  />
        <result property="orderId"          column="order_id"       />
        <result property="review"           column="review"         />
        <result property="createTime"       column="create_time"    />
        <result property="clientUsername"   column="client_username"/>
        <result property="helperUsername"   column="helper_username"/>
        <result property="content"          column="content"        />
    </resultMap>

    <insert id="insertEvaluation" parameterType="com.errand.entity.Evaluation" useGeneratedKeys="true" keyProperty="evaluationId">
        INSERT INTO evaluation (order_id, review, create_time)
        VALUES (#{orderId}, #{review}, #{createTime})
    </insert>

    <select id="selectEvaluationByOrderId" parameterType="Long" resultMap="EvaluationResultMap">
        SELECT e.*,
               u1.username as client_username,
               u2.username as helper_username,
               o.content
        FROM evaluation e
                 INNER JOIN `order` o ON e.order_id = o.order_id
                 INNER JOIN user u1 ON o.client_id = u1.user_id
                 LEFT JOIN user u2 ON o.helper_id = u2.user_id
        WHERE e.order_id = #{orderId}
    </select>

    <select id="existsEvaluationByOrderId" parameterType="Long" resultType="boolean">
        SELECT COUNT(*) > 0 FROM evaluation WHERE order_id = #{orderId}
    </select>

    <select id="countEvaluationsByHelperIdAndReview" resultType="Integer">
        SELECT COUNT(*)
        FROM evaluation e
                 INNER JOIN `order` o ON e.order_id = o.order_id
        WHERE o.helper_id = #{helperId} AND e.review = #{review}
    </select>

</mapper>